<p>productreg works!</p>
<!--<form [formGroup]="form" (ngSubmit)="">-->

    <table align="center" width="40%" border="1" bgcolor="orange">
        <tr>
            <th colspan="2">REGISTER USER</th>
        </tr>
        <tr>
            <td>ADD Product</td>
            <td><input type="text" formControlName="username" maxlength="15" 
            autofocus spellcheck="true" autocomplete="true"
            placeholder="enter your name"/></td>
        </tr>
        
        
         <button class="btn btn-primary" type="">ADD PRDUCT</button>
    
        
        
        
        </table>  	
       <!-- </form>-->
        
