<!--
<div class="image" >
    
    <div class="roe bg-dark  sticky-top" style="height:100px;font-size:xx-large;color: lightcoral;">
        <img [src]="imgpath" style="height: 100px;width: 100px;border-radius: 80%;">HOMEMADE CAKES
        <div class="col d-flex justify-content-end ">
            <div>
               <button class="mr-1 btn btn-primary">HOME</button>
                <button class="mr-1 btn btn-primary">LOGIN</button>
                <button class="mr-1 btn btn-primary">REGISTER</button>
                <button class=" btn btn-primary">CONTACT US</button>   
                <a class="btn btn-primary" href="" >HOME</a>
                <a class="btn btn-primary" href="http://localhost:4200/login/">LOGIN</a>
                <a class="btn btn-primary" href="/reg" >REGISTER</a>
                <a class="btn btn-primary"  href="/contact" >CONTACT US</a>
            </div>
        </div>
        
    </div>

-->

<div class="image" >
 <table>
     <tr><td><div style="border:3px solid tomato;"><img  [src]="img4" /></div></td>
        <td style="border:3px solid tomato;">
            <ul class="ul">
            <li>Name:Fruit Cake </li>
                <li> Price:300 RS</li>
                <li> Discount:10% </li>
                <li>  Time Required For Dlivery:30min</li>
                <li>
            Description: Fruitcake made with candied or dried fruit, nuts, and spices, and optionally 
                soaked in spirits. this is an eggless cake.</li>
                </ul>
                
   <button class="btn btn-success"  [routerLink]="['/addtocart']" >ADD TO CART</button>
   
                </td>
        
    </tr>
    <tr><td><div style="border:3px solid tomato;"><img  [src]="img1" /></div></td>
        <td style="border:3px solid tomato;">
            <ul class="ul">
                <li>Name:Fruit Cake </li>
                    <li> Price:300 RS</li>
                    <li> Discount:10% </li>
                    <li>  Time Required For Dlivery:30min</li>
                    <li>
            
            Black Forest cake has multiple  layers of chocolate sponge cake, cherries, 
            and whipped cream. It is frosted with whipped cream and covered with chocolate shavings
             and a few cherries for decoration. 
            Kirschwasser (cherry schnapps) is used to flavor the whipped cream.</li>
            </ul>
            <button class="btn btn-success"  [routerLink]="['/addtocart']" >ADD TO CART</button>
   
           </td>
        
    </tr>
    <tr><td><div style="border:3px solid tomato;"><img  [src]="img6" /></div></td>
        <td style="border:3px solid tomato;">
            <ul class="ul">
                <li>Name:Fruit Cake </li>
                    <li> Price:300 RS</li>
                    <li> Discount:10% </li>
                    <li>  Time Required For Dlivery:30min</li>
                    <li>
           
                Fruitcake made with candied or dried fruit, nuts, and spices, and optionally 
                soaked in spirits. this is an eggless cake.
                 Fruitcakes are typically served in celebration of weddings and Christmas.
                 </li>
                 </ul>
                 <button class="btn btn-success"  [routerLink]="['/addtocart']" >ADD TO CART</button>
   
                   </td>
        
    </tr>

</table>
</div>

<!--
<table style="border:3px solid rgb(71, 74, 255);">
    <tr >
        
        <td style="border:3px solid tomato;"><img  [src]="img4" /></td>
        <td style="border:3px solid tomato;"><img  [src]="img5" /></td>
        <td style="border:3px solid tomato;"><img  [src]="img6" /></td>
        
        <td style="border:3px solid tomato;"><img  [src]="img3"/></td>
       
    </tr>
    <tr >
        <td style="border:3px solid tomato;">Name:Fruit Cake Price:300RS Discount:10% BUY:
        <input type="checkbox" name="buy"></td>
    </tr>

    </table>
    -->
    <!--
<div style="margin:20px ;margin-top: 2%;">
    
    <img  [src]="img4" style="padding-right: 20px; height:23%; width: 23%"/>
<span style="font-size:17px;text-align: center;" >Name &nbsp;&nbsp;&nbsp;</span>
<label id="name" value="cake">cake</label>
<span style="font-size:17px;text-align: center;" >Price &nbsp;</span>
<label id="name" value="cake">50</label>
<span style="font-size:17px;text-align: center;" >Quantity &nbsp;</span>
<input type="text">
<span style="font-size:17px;text-align: center;" >Buy &nbsp;</span>

 
  
</div>
 -->