
<!--<app-homepage></app-homepage> -->



    
    <div class="roe bg-dark  sticky-top" style="height:100px;font-size:xx-large;color: lightcoral;">
        <img [src]="imgpath" style="height: 100px;width: 100px;border-radius: 80%;">HOMEMADE CAKES
        <div class="col d-flex justify-content-end ">
            <div>
                 <a class="btn btn-primary" href="" >HOME</a>
                <a class="btn btn-primary" href="http://localhost:4200/login/">LOGIN</a>
                <a class="btn btn-primary" href="/reg" >REGISTER</a>
                <a class="btn btn-primary"  href="/contact" >CONTACT US</a>
            </div>
        </div>
        
    </div>

    
<router-outlet></router-outlet>